<h1> User Signup Form </h1>
<form action="/user/create" method="POST" class="form-signup">
	<input type="text" class="form-control" placeholder="your name" name="name">
	<input type="text" class="form-control" placeholder="email address" name="email">
	<br />
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>