<div class="container">
	<div class="jumbotron">
		<h1>LunchMate</h1>
		<h2>Experience the best lunch discussion ever</h2>
		<a href="/yammeruser/login" class="btn btn-lg btn-success">Login now!</a>
	</div>
</div>